/* Google font */
@import url(' https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lora:wght@400;700&display=swap');

/* Layout */
:root {
--primary: #46329d85; /* Purple */
--secondary: #573ec385; /* Blue */
--error: #d9301d; /* Red */
--background: #ecf0f1; /* Light grey */
--header-bg: #eee1e1; /* White */
--text-color: #2c3e50;
} 

